<h1>My articles</h1>
  <%= link_to "Add new article", new_article_path %>

  <%@articles.each do |article| %>
  <h2><%=article.title%></h2>
  <p><%=article.content%></p>
  <%= link_to "View Article", article_path(article)  %>
  <% end %>
